#imgCasas{
  position: absolute;
  top: 60% ;
  width: 400px;
  height: 250px;
}
h1{
  position: absolute;
  top: 10%;
  right: 18%;
  color: white;
  z-index: 10;
  animation-name: entrarDerecha;
  animation-duration: 1s;
  animation-delay: 2.5s;
}
h2{
  position: absolute;
  top: 80%;
  right: 22%;
  color: white;
  z-index: 10;
  animation-name: entrarIzquierda;
  animation-duration: 1s;
  animation-delay: 2.5s;
}
@keyframes entrarDerecha {
  from{
    right: 100%;
  }
  to{
    right: 28%;
  }
}
@keyframes entrarIzquierda {
  from{
    right: -100%;
  }
  to{
    right: 24%;
  }
}
.imagenes{
  position: absolute;
  width: 400px;
  // visibility: hidden;
  animation-duration: 5s;
  animation-delay: 2.5;
}
#imgUno{
width: 170px;
top: 21.8%;
right: 25.3%;
animation-name: entraImgUno;
animation-delay: 3s;
}

@keyframes entraImgUno{
  from{
    top: 21.8%;
    transform: rotate(0deg);
}
50%{
  top: 10%;
}
to{
  top: 21.8%;
  transform: rotate(360deg);
}
}

  #superpuesto{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;;
      z-index: 9999;
      width: 100%;
      background-color: #242424;
      animation-name: ocultar;
      animation-duration: 8s;
      animation-delay: 2.5;
  }

  @keyframes ocultar{
    from{
      opacity: 1;
      visibility: visible;
    }
    80%{
      opacity: 1;
      visibility: visible;
    }
    to{
      opacity: 0;
      visibility: hidden;
    }
  }

  #splash{
      --background:none;
      background: url("../assets/splash.png") no-repeat center /cover;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
  }
