<ion-header [translucent]="true" style="--ion-background-color: #6cf57ed8">
  <ion-toolbar style="text-align: center;">
    <ion-title>
      Aulas disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="start" slot="fixed" (click)="volver()" color="primary">
  <ion-fab-button color="primary">
    <ion-icon name="log-out"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-grid class="background-4b" (click)="chat4b()">

</ion-grid>
<ion-grid class="background-4a" (click)="chat4a()">

</ion-grid>
